@model List<Job>
<partial name="_Notification" />
<div>
<p> List Of Jobs</p>
<a asp-controller="Job" asp-action="Create" class="btn btn-primary"> Add new Job</a>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>
				Name Job
			</td>
			<td>
				Category
			</td>
			<td>
				Salary
			</td>
			<td>
				Description
			</td>
			<td>
				Request
			</td>
			<td>
				Deadline
			</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var jobs in Model)
		{
			<tr>
				<td>@jobs.Title</td>
				<td>@jobs.Category.Name</td>
				<td>@jobs.Salary</td>
				<td>@jobs.Description</td>
				<td>@jobs.requiredQualification</td>
				<td>@jobs.Deadline</td>
				<td>
					<a asp-controller="Job" asp-action="Edit" asp-route-ID="@jobs.ID" class="btn btn-primary">Edit</a>
					<a asp-controller="Job" asp-action="Delete" asp-route-ID="@jobs.ID" class="btn btn-danger">Delete</a>
					<a asp-controller="Job" asp-action="ViewJobApp" asp-route-ID="@jobs.ID" class="btn btn-outline-success">View Job Application</a>
				</td>
			</tr>
		
		}
	</tbody>
</table>
