@model List<Job>
<partial name="_Notification" />
<h1>List of Job</h1>


<table class="table table-bordered">
	<thead>
		<tr class="fw-bold">
			<td>Title</td>
			<td>Description</td>
			<td>Salary</td>
			<td>Deadline</td>
			<td>Category</td>
			<td>Required Qualification</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach (var Job in Model)
		{
			<tr>
				<td>@Job.Title</td>
				<td>@Job.Description</td>
				<td>@Job.Salary</td>
				<td>@Job.Category.Name</td>
				<td>@Job.Deadline</td>
				<td>@Job.requiredQualification</td>

				<td>
					<a asp-controller="ApplicationJob" asp-action="Create" asp-route-ID="@Job.ID" class="btn btn-outline-primary">Apply</a>
				</td>
			</tr>
		}
	</tbody>
</table>