﻿﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model List<ApplicationUser>
<partial name="_Notification" />

<h1> List Of Users</h1>
<table class="table table-bordered">
    <a asp-area="Identity" asp-page="/Account/CreateAccountE" class="btn btn-outline-success mb-3 btn-new-user">
        <i class="bi bi-person-plus-fill"></i>
    </a>
    <thead class="thead">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Status</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var user in Model)
        {
            var userRole = await UserManager.GetRolesAsync(user);
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@user.Address</td>
                <td>@user.City</td>
                <td class="td-status">
                    @(user.Status ? "Active" : "Inactive")
                    @if (user.Status)
                    {
                        <form asp-controller="Users" asp-action="ToggleStatus" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="active_button">Disable</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Users" asp-action="ToggleStatus" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="active_button">Enable</button>
                        </form>
                    }
                </td>
                <td>
                    @if (userRole.Contains("Administrator"))
                    {
                        <p class="text_admin">Administrator</p>
                    }
                    else if (userRole.Contains("Employer"))
                    {
                        <p class="text_employee">Employer</p>
                    }
                    else if (userRole.Contains("JobSeeker"))
                    {
                        <p class="text_default">Job Seeker</p>
                    }
                </td>
                <td>
                    <a class="delete_button" asp-controller="Users" asp-action="Delete" asp-route-id=@user.Id>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>